*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
.navbar{
  padding: 0 200px 0 200px;
  background-color: #fff;
 
}
.menu li{
    margin-right: 8px;
    padding: 10px 20px;
    border-radius: 5px;
}
ul a:hover{
    border-radius: 5px;
    color: rgb(115, 115, 255);
    padding: 4px;
    border-bottom:rgb(115, 115, 255) solid 2px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
}
ul a{
    text-decoration: none;
    color: #000;
    transition:0.2s;
    font-weight: bold;
    font-size: 22px;
}

body { 
    font-family: Arial, sans-serif; 
    background: #0f2c45;; 
}
h2 { 
    text-align: center; 
    margin-bottom: 20px; 
    margin-top: 20px;
    color: #fff;
}
.container { 
    display: flex; 
    gap: 20px; 
    max-width: 900px; 
    margin: auto; 
    margin-top: 40px;
}
form { 
    flex: 1; 
    background: #fff; 
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 0 5px #ccc; 
}
label {
     display: block; 
    margin: 10px 0 5px; 
}
input, textarea { 
    width: 100%; 
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}
button { 
    width: 100%; 
    padding: 10px; 
    background: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}
button:hover { 
    background: #0056b3; }
iframe { 
    flex: 1; 
    height: 550px; 
    border: none; 
    border-radius: 8px; 
}
@media(max-width:768px){
.container {
     flex-direction: column; 
} iframe {
     height: 300px; 
    } 
}
textarea{
    height: 100px;
    resize: none; 
}
footer{
    background-color: #000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 50px 0 50px 0;
}
footer p{
    color: #fff;
}
p{
    color: #fff;
}
.contact{
    margin: 0 260px 0 260px;
}
img{
    width: 30px;;
    align-items: flex-start;
}
footer > .lien-de-contact{
    display: flex;
    gap: 10px;
}